<template>
  <q-page-container>
      <q-page class="flex flex-center">
        <logo></logo>
        <div class="about-card">
          <div class="text-title">
            “DA DESPENSA PARA A MESA, SEMPRE UMA SURPRESA!!!”

          </div><br><br>
          <div class="text-title">
            NOSSA PROPOSTA
          </div><br><br>

          <div class="text-body">
            Todo mundo já se aventurou ao menos uma vez na cozinha. Seja para um pequeno lanche ou
            para um jantar mais sofisticado. Cozinhar está se tornando, cada dia mais, um hábito,
            e, às vezes, um hobby. Cozinhamos por necessidade e/ou por prazer.<br><br>

            Já pensou em inovar na cozinha, com os alimentos que você possui na despensa? Pois bem,
            nós pensamos, e é essa a proposta da TENHO EM CASA. O nome TENHO EM CASA foi escolhido
            em cima do nosso propósito – utilizar alimentos que já possuímos, para cozinhar receitas
            diversas,além de diminuir o desperdício de alimentos em nossas casas. Aqui, em cada
            busca, uma surpresa.<br><br>

            Na TENHO EM CASA, a proposta é oferecer a você, cozinheiro, a busca de milhares de
            receitas, de forma aleatória, a partir dos ingredientes que possui em casa. Todas elas
            categorizadas em doces, salgadas e Fit. Além de oferecer a opção de encontrar receitas
            que possam ser feitas com os ingredientes que possui em casa e até mais 3 (três)
            ingredientes.
          </div><br><br>

          <div class="text-title">
            MISSÃO
          </div><br>

          <div class="text-body">
            Fornecer um serviço de qualidade e único aos nossos clientes, da maneira mais prática
            e rápida.
          </div><br><br>

          <div class="text-title">
            VISÃO<br>
          </div><br>

          <div class="text-body">
            Ser o maior e melhor canal de receitas do país, proporcionando uma experiência
            inovadora e marcante aos nossos clientes.<br><br>
          </div><br>

          <div class="text-title">
            VALORES
          </div><br>

          <div class="text-body">
            Os valores organizacionais da empresa são o respeito, a motivação, a inovação, a
            valorização de pessoas, a confiança e humildade.
          </div><br>
        </div>
      </q-page>
    </q-page-container>
</template>

<script>

import Logo from '../components/Logo.vue';

export default {
  name: 'About',
  components: {
    logo: Logo,
  },
};

</script>

<style scoped>

.text-title {
  text-align: center;
  font-weight: bold;
}

.text-body {
  text-align: justify;
}

.about-card {
  margin: 3em 1em 5em 1em;
  color: grey;
}

</style>
