<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/logo.svg"
        style="width:30vw;max-width:150px;"
      >
    </p><br>
    <p class="text-faded"><strong>Essa página não existe...</strong></p><br>
    <q-btn
      rounded
      color="primary"
      style="width:200px;"
      @click="$router.push('/search')"
    >Voltar</q-btn>
  </div>
</template>

<script>
export default {
  name: 'Error404',
};
</script>
