<template>
  <q-page>
    <loginRegister></loginRegister>
  </q-page>
</template>

<script>
import LoginRegister from '../components/auth/LoginRegister.vue';

export default {
  name: 'Home',
  components: {
    loginRegister: LoginRegister,
  },
};
</script>

<style>
</style>
