<template>
  <q-page>
    <q-carousel
      color="grey-6"
      quick-nav
      infinite
      handle-arrow-keys
      :height="carouselHeight"
    >
      <q-carousel-slide class="column justify-center" v-for="(slide, index) in slides" :key="index">
        <div>
          <logo></logo>
          <div class="text-center q-mt-lg">
            <div class="header text-weight-bold"> {{ slide.header }} </div>
            <div class="description q-mt-md text-weight-light"> {{ slide.description }} </div>
          </div>

        </div>
      </q-carousel-slide>
    </q-carousel>
    <div class="border"/>
    <div class="row justify-center">
      <q-btn rounded label="Entrar" color="primary" class="enter no-shadow"
             @click="$router.push({ name: 'search' });" />
    </div>
  </q-page>
</template>

<script>
import Logo from '../components/Logo.vue';


export default {
  name: 'presentation',
  components: {
    logo: Logo,
  },
  data() {
    return {
      windowHeight: 0,
      slides: [
        {
          imgSrc: '',
          header: 'Aqui Você é o Cozinheiro',
          description: 'Encontre deliciosas receitas usando o que você já tem!',
        },
        {
          imgSrc: '',
          header: 'Nunca mais jogue comida no lixo',
          description: 'Usando o que já tem, você evita o desperdício!',
        },
        {
          imgSrc: '',
          header: 'Não Desperdice Seu Tempo',
          description: 'Você não precisa sair de casa pra comer algo gostoso!',
        },
      ],
    };
  },
  computed: {
    carouselHeight() {
      return `${this.windowHeight * 0.75}px`;
    },
  },
  methods: {
    handleResize() {
      this.windowHeight = window.innerHeight;
    },
  },
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
};
</script>

<style lang="stylus">
@import '~variables';

.header {
  color: $dark-grey;
  font-family: 'Arvo', serif;
  font-size: 2em;
}
.description {
  font-size: 1.05em;
}
.border {
  border-bottom: 1px solid #ddd;
  width 80%
  margin-left auto
  margin-right auto
}
.enter {
  margin: 10%
  @media screen and (min-width: 800px)  {
    margin: 5%
  }
}
.q-carousel .q-carousel-quick-nav {
  background: none;
}
</style>
