<template>
  <q-page-container>
    <q-page class="flex flex-center">
      <logo></logo>
      <div class="privacypolicy-card">
        <div class="text-title">
          Política de Privacidade
        </div><br>
        <div class="text-body">
          Efetivo em 03 de janeiro de 2019
        </div><br>
        <div class="text-body">
Proteger sua privacidade é realmente importante para nós. Esta Política de Privacidade
cobre todos os serviços da Tenho em Casa, e de todos os seus subsidiários e
afiliados (coletivamente, “Tenho em Casa”, “nós”, “nos” e “nosso”), além de nossos
aplicativos móveis, serviços de aplicativo para desktop, softwares e outros materiais e
serviços disponibilizados em, a partir de ou por meio de algum dos anteriores
(coletivamente, os “Serviços”). Estamos fornecendo esta Política de Privacidade para
justificar nossas práticas a respeito da coleta, do uso e da divulgação de informações
que recebemos quando você utiliza nossos Serviços. Esta Política de Privacidade não se
aplica a websites, serviços ou aplicativos de terceiros, como aplicativos e websites que
usam o Facebook, mesmo que eles sejam acessíveis por meio de nossos Serviços. Esta
Política de Privacidade só se aplica a informações reunidas nos Serviços. Por favor,
leia este Política de Privacidade e, caso tenha perguntas ou sugestões, entre em contato
pelo e-mail tenhoemcasa.receitas@gmail.com. Além disso, perceba também que, a não ser que
definamos um termo nesta Política de Privacidade, todas as palavras com iniciais maiúsculas
utilizadas nesta Política de Privacidade têm o mesmo significado que as usadas nos
Termos de Uso encontrados na página <a href="https://bit.ly/2R6hpFI.">Termos de Uso</a>.
        </div><br>

        <div class="text-title">
Caso você não esteja de acordo com a coleta, o uso e a divulgação de informações que
recebemos quando você utiliza nossos Serviços de acordo com esta Política de
Privacidade, não utilize os Serviços.
        </div><br>

        <div class="text-title">
          COMO COLETAMOS E UTILIZAMOS AS INFORMAÇÕES?
        </div><br>

        <div class="text-body">
Nossos objetivos principais ao coletar informações são fornecer e melhorar nossos
Serviços, administrar seu uso dos Serviços (incluindo sua conta, caso você tenha uma)
e possibilitar que você aproveite e navegue facilmente por nossos Serviços.
        </div><br>

        <div class="text-body">
Informações de conta: Quando você cria uma conta, recolhemos certas informações que podem ser
utilizadas para te identificar, como seu nome, e-mail, endereço e foto (“Informação Pessoalmente
Identificável” ou “IPI”). É possível também que nós coletamos certas informações que não são
consideradas IPIs, pois não podem ser utilizadas para te identificar, como suas preferências
individuais. Se você escolher criar ou acessar sua conta por meio de um serviço de rede social
(“Contas SRS”), é possível que você precise fornecer seu nome de usuário (ou ID de usuário) para
que sua identidade possa ser autenticada pela Conta SRS. Quando a autenticação estiver completa,
poderemos associar sua conta à Conta SRS e acessar certas IPIs, como seu nome, e-mail, foto e
outros dados que suas configurações de privacidade da Conta SRS nos permitirem acessar. Nós não
teremos acesso, nem armazenaremos as senhas de suas contas SRS. É possível que nós utilizemos suas
IPIs para entrar em contato com você por meio de e-mails, newsletters, propagandas ou materiais
promocionais e outras informações que podem te interessar. Caso você não queira mais receber tais
mensagens, siga o procedimento descrito abaixo nesta Política de Privacidade.
        </div><br>

        <div class="text-body">
Informações coletadas usando cookies: Nós coletamos algumas informações por meio do uso de
“cookies”, que são pequenos arquivos de texto salvos por seu navegador quando você acessa nossos
Serviços. Nós podemos utilizar tanto os cookies de sessão quanto os persistentes para identificar
que você acessou os Serviços e nos dizer como e quando você interagiu com nossos Serviços. Nós
também podemos utilizar os cookies para monitorar o uso agregado e o tráfego de Internet em nossos
Serviços e para customizar e melhorar nossos Serviços. Diferentemente dos cookies persistentes, os
cookies de sessão são apagados quando você sai de sua conta dos Serviços e fecha seu navegador.
Embora a maior parte dos navegadores aceite cookies automaticamente, você pode modificar as
configurações de seu navegador para que ele pare de aceitar cookies automaticamente ou exiba uma
caixa de diálogo antes de aceitar cookies. Mas, se você não autorizar os cookies, pode não ter
acesso a todas as partes ou recursos dos Serviços. Nós contratamos os serviços de terceiros
(incluindo anunciantes terceiros) que também podem colocar seus próprios cookies em seu navegador.
Leve em consideração que esta Política de Privacidade cobre apenas nossos cookies, não incluindo o
uso de cookies por tais terceiros.
        </div><br>

        <div class="text-body">
<strong>Informações relacionadas ao uso e à assinatura dos Serviços:</strong> Nossos servidores
gravam automaticamente algumas informações sobre como uma pessoa utiliza nossos Serviços (chamamos
tais informações de “Dados de Registro”), incluindo tanto proprietários de contas quanto usuários
que não possuem contas (um “Usuário”). Os Dados de Registro podem incluir informações como o IP do
Usuário, o tipo de navegador, o sistema operacional, a página que um Usuário estava visitando
antes de acessar nossos Serviços, as páginas ou recursos de nossos Serviços que um Usuário
pesquisou e o tempo gasto nessas páginas ou recursos, termos de busca, links ou botões em nossos
Serviços que foram clicados por um Usuário (incluindo propagandas) e outros dados estatísticos.
Utilizamos tais dados para administrar os Serviços e analisamos as informações (podendo incluir
terceiros para efetuar a análise) para melhorar os Serviços, expandindo seus recursos e sua
funcionalidade e adaptando-os de acordo com as necessidades e preferências de nossos Usuários.
Podemos utilizar o IP de uma pessoa para bloquear spam, malware e roubo de identidade. Também
usamos o endereço IP para gerar informações agregadas, não identificadoras e não pessoais sobre
como nossos Serviços são usados. Ao utilizar nossos Serviços, você entende e aceita que a Tenho
em Casa está fornecendo uma plataforma para que você visualize, faça o upload de conteúdo,
incluindo comentários e outros materiais para os Serviços, e compartilhe conteúdo publicamente.
Isso significa que outros usuários podem pesquisar, ver, utilizar ou compartilhar qualquer
conteúdo que você tenha criado ou publicado por meio dos Serviços, de acordo com os termos e as
condições desta Política de Privacidade e dos Termos de Uso da Tenho em Casa. Se você adquirir uma
Assinatura paga, utilizaremos o Stripe para processar e aceitar os pagamentos. Se você adquirir
uma Assinatura paga via Apple iTunes ou Google Play, seu pagamento será processado por meio dos
serviços respectivos. Nós não armazenaremos informações de cartões de crédito, mas o Stripe (ou
Apple ou Google, dependendo do caso) coletará as informações do cartão de crédito e outros dados
relacionados ao pagamento. Cada serviço de terceiros utiliza os dados relacionado ao pagamento
recebido de acordo com a necessidade e de maneira apropriada para atender às solicitações para
processar transações de pagamento, facilitar a emissão de faturas e fornecer serviços de
pagamento. As informações pessoalmente identificáveis sobre os Usuários são utilizadas por cada
um de tais serviços para processar as transações de pagamento e por mais nenhum motivo. Estas
informações estão sujeitas à política de privacidade e aos termos de uso do Stripe, encontrados em
https://stripe.com/us/terms; a política de privacidade e os termos de uso da Apple podem ser
encontrados em http://www.apple.com/legal/privacy/
e http://www.apple.com/legal/internet-services/itunes/us/terms.html; e a política de privacidade e
os termos de uso do Google Play podem ser encontrados em
https://www.google.com/intl/en/policies/privacy/ e https://play.google.com/about/play-terms.html.
        </div><br>

        <div class="text-body">
Informações enviadas por seu dispositivo móvel. Nós coletamos certas informações que seu
dispositivo móvel envia quando você usa nossos Serviços, como um identificador de dispositivo,
configurações de usuário e o sistema operacional de seu aparelho, bem como informações sobre seu
uso de nossos Serviços.
        </div><br>

        <div class="text-body">
Informações de localização: Em alguns casos, coletamos e armazenamos informações sobre sua
localização, convertendo seu endereço IP em um dado aproximado de geolocalização. Nós também
poderemos utilizar as informações de localização para melhorar e personalizar nossos Serviços para
você.
        </div><br>

        <div class="text-title">
          QUAIS INFORMAÇÕES COMPARTILHAMOS COM TERCEIROS?
        </div><br>

        <div class="text-body">
<strong>Nós não compartilharemos IPIs que coletarmos de você, exceto as descritas abaixo:</strong>
        </div><br>

        <div class="text-body">
Informações compartilhadas com nossos provedores de serviços: É possível que acionemos provedores
de serviços para trabalharem conosco na administração e no fornecimento dos Serviços. Esses
terceiros provedores de serviços têm acesso a suas IPIs apenas para realizar os serviços em nosso
nome ou para possibilitar nosso fornecimento de melhores Serviços para você.
        </div><br>

        <div class="text-body">
Informações compartilhadas com terceiros: Nós poderemos compartilhar informações agregadas, não
identificadoras e não pessoais com terceiros para análises industriais, perfilamentos
demográficos, medições de eficácia de propaganda e outros propósitos semelhantes. Além disso,
os anunciantes, as empresas de tecnologia de propagandas e os provedores de serviços que
realizarem serviços ligados à propaganda para nós e nossos parceiros de negócios poderão
utilizar cookies e tecnologias similares para coletar informações suas ou sobre você para adaptar
propagandas, medir a eficácia das propagandas e habilitar outras melhorias. Tais informações podem
incluir seu uso dos Serviços, websites que você visitou, propagandas que você visualizou e demais
atividades suas on-line. Nós também poderemos fornecer suas IPIs aos nossos parceiros de negócios
e outras entidades confiáveis com o propósito de te fornecer informações sobre produtos ou
serviços que acharmos que serão de seu interesse. Caso você não queira mais receber propagandas ou
mensagens customizadas, siga o procedimento descrito abaixo nesta Política de Privacidade.
        </div><br>

        <div class="text-body">
Informações acessadas por meio de transações de negócios: Informações que pudermos coletar de
nossos usuários, incluindo IPIs, serão consideradas ativos de negócios. Portanto, se nosso negócio
falir ou se nossa empresa for adquirida por uma transação, como uma união, uma aquisição ou uma
venda/cessão de ativos, suas IPIs poderão ser divulgadas ou transferidas ao adquirente terceiro
ligado à transação.
        </div><br>

        <div class="text-body">
Informações divulgadas para nossa proteção e pela proteção de outros: Faz parte de nossa política
te proteger de uma violação de privacidade por meio do abuso dos sistemas legais, seja por
indivíduos, entidades ou pelo governo, e contestar reclamações que acreditemos ser inválidas de
acordo com a lei aplicável. Porém, também faz parte de nossa política cooperar com o governo e os
oficiais de aplicação da lei e partes privadas. Por conseguinte, reservamo-nos o direito de
divulgar qualquer informação sobre você ao governo ou aos oficiais de aplicação da lei, quando
acharmos necessário, a nosso critério: (i) para satisfazer ou cumprir com qualquer lei, regulação
ou processo legal aplicável ou para responder a solicitações judiciais, incluindo intimações,
mandados ou ordens judiciais; (ii) para proteger nossa propriedade, nossos direitos e segurança e
os direitos, propriedades e segurança de terceiros ou do público em geral; e (iii) para evitar ou
interromper atividades que considerarmos ilegais, antiéticas ou legalmente puníveis.
        </div><br>

        <div class="text-title">
          INFORMAÇÕES QUE FORNECEMOS COM SEU CONSENTIMENTO OU A SEU PEDIDO.
        </div><br>

        <div class="text-body">
Compartilharemos suas IPIs com sites ou plataformas de terceiros, como sites de redes sociais, se
você tiver solicitado expressamente que isso aconteça.
        </div><br>

        <div class="text-title">
          A SEGURANÇA DE SUAS INFORMAÇÕES
        </div><br>

        <div class="text-body">
Tomaremos medidas razoáveis para proteger as informações que coletamos de ou sobre você (incluindo
suas IPIs) contra o acesso, o uso ou a divulgação não autorizada. Quando você inserir informações
sensíveis e/ou pessoalmente identificáveis em nossos formulários de registro ou pedidos,
codificaremos os dados por meio da tecnologia SSL. Porém, nenhum método de transmissão pela
Internet ou de armazenamento eletrônico é 100% seguro. Portanto, não podemos garantir a segurança
absoluta de qualquer informação que você nos fornecer, mas tomaremos todas as medidas cabíveis
para tal.
        </div><br>

        <div class="text-title">
          LINKS PARA OUTROS SITES
        </div><br>

        <div class="text-body">
Nossos Serviços podem conter links para outros websites e serviços. Qualquer informação que você
fornecer a um website ou serviço de terceiros será diretamente fornecida ao proprietário do
website ou serviço e estará sujeita à política de privacidade vigente. Nossa Política de
Privacidade não se aplica a esses websites e serviços e não nos responsabilizamos pelo conteúdo,
pela privacidade ou pelas práticas ou políticas de segurança desses websites ou serviços. Para
proteger seus dados, recomendamos que você analise cuidadosamente as políticas de privacidade de
outros websites e serviços que acessa.
        </div><br>

        <div class="text-title">
          SUAS ESCOLHAS
        </div><br>

        <div class="text-body">
Modificar seus dados ou deletar sua conta: Você pode acessar e modificar certas IPIs associadas a
sua conta, editando a página do perfil em sua conta. Se você quiser que deletemos suas IPIs e sua
conta, entre em contato pelo e-mail tenhoemcasa.receitas@gmail.com e faça uma solicitação. Você
poderá se comunicar conosco em português. Informaremos os passos para apagar seus dados assim que
possível, mas alguns dados podem permanecer no arquivo ou em cópias de segurança para nossos
registros ou caso seja exigido pela lei.
        </div><br>

        <div class="text-title">
          RESPONDENDO A SINAIS DE “DO NOT TRACK”
        </div><br>

        <div class="text-body">
Nossos Serviços não têm a capacidade de responder a sinais de “Do Not Track” enviados por vários
navegadores web. Outras partes podem coletar IPIs sobre as atividades on-line dos Usuários ao
longo do tempo e passando por vários websites quando os Usuários utilizam websites ou serviços
on-line de outros operadores.
        </div><br>

        <div class="text-title">
          TRANSFERÊNCIA INTERNACIONAL
        </div><br>

        <div class="text-body">
Suas IPIs podem ser transferidas para e mantidas por computadores localizados fora de seu estado,
país ou outra jurisdição governamental onde as leis de privacidades possam ser diferentes das
vigentes em sua região. Se você estiver fora do Brasil e escolher nos fornecer suas IPIs,
poderemos transferi-las para o Brasil e processá-las aqui. Seu consentimento a esta Política de
Privacidade, seguido por sua submissão de qualquer IPI, representa sua concordância com esta
transferência.
        </div><br>

        <div class="text-title">
          NOSSA POLÍTICA SOBRE CRIANÇAS
        </div><br>

        <div class="text-body">
Nossos Serviços não são direcionados a crianças abaixo de 13 anos e nós não coletaremos IPIs de
crianças abaixo de 13 anos. Se soubermos que houve a coleta de IPIs de uma criança abaixo de 13
anos, tomaremos as medidas necessárias para deletar tais dados de nossos arquivos o mais rápido
possível.
        </div><br>

        <div class="text-title">
          MUDANÇAS NA POLÍTICA DE PRIVACIDADE
        </div><br>

        <div class="text-body">
Qualquer informação que coletaremos estará sujeita à política de privacidade vigente no momento em
que ela for coletada. Poderemos, porém, modificar esta Política de Privacidade a qualquer momento.
Se fizermos modificações nesta Política de Privacidade, você será notificado por meio de postagens
nos Serviços ou um e-mail ou outra notificação. Além disso, atualizaremos a data de início da
vigência acima para indicar quando tais mudanças passarão a valer.
        </div><br>

        <div class="text-title">
          Dúvidas?
        </div><br>

        <div class="text-body">
Por favor, entre em contato pelo e-mail tenhoemcasa.receitas@gmail.com caso tenha qualquer dúvida
sobre nossa Política de Privacidade. Você poderá se comunicar conosco em português. Obrigado!
        </div><br>

      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import Logo from '../components/Logo.vue';

export default {
  name: 'PrivacyPolicy',
  components: {
    logo: Logo,
  },
};

</script>

<style scoped>

.text-title {
  text-align: center;
  font-weight: bold;
}

.text-body {
  text-align: justify;
}

.privacypolicy-card {
  margin: 3em 1em 5em 1em;
  color: grey;
}

</style>
