<template>
  <q-page>
    <q-carousel
      color="white"
      arrows
      infinite
      quick-nav
      height="300px"
      :thumbnails="[
        recipeIconByCategory(category),
      ]"
    >
      <q-carousel-slide :img-src="recipeIconByCategory(category)" />
    </q-carousel>

    <div class="q-pa-lg">
      <div class="q-pa-xs">
        <h1 class="text-primary q-display-2 q-ma-none q-pb-sm text-center">
          {{ name }}
        </h1>
      </div>

      <recipeInfo :servings_amount="servings_amount"
                  :preparation_time_in_minutes="preparation_time_in_minutes"/>
      <h2 class="text-primary"> Ingredientes</h2>
      <ul>
        <li v-for="ingredient in ingredients" :key="ingredient.id" >
          {{ ingredient }}
        </li>
      </ul>
      <h2 class="text-primary"> Instruções </h2>
      <ol>
        <li v-for="(step, index) in instructions" :key="index" >
          {{ step }}
        </li>
      </ol>
      <div class="row justify-around q-mt-xl q-mb-lg">
        <q-btn rounded color="primary" label="Terminei!" @click="goToHomeAndFeedback" />
        <q-btn rounded color="secondary" label="Voltar à Pesquisa" to="/search" />
      </div>

    </div>
  </q-page>
</template>

<script>
import HTTP from '../services/api/http-common.js';
import { mapState } from 'vuex';
import RecipeInfo from '../components/RecipeInfo.vue';
import recipeIconByCategory from '../mixins/recipeUtils.js';


export default {
  name: 'recipe',
  components: {
    recipeInfo: RecipeInfo,
  },
  mixins: [recipeIconByCategory],

  data() {
    return {
      name: '',
      ingredients: [],
      instructions: [],
      servings_amount: 0,
      preparation_time_in_minutes: 0,
      category: '',
    };
  },

  computed: {
    ...mapState({
      token: state => state.auth.token,
    }),
  },

  methods: {
    loadRecipe() {
      const headers = { Authorization: this.token };

      HTTP.get(`recipes/${this.$route.params.id}`, { headers })
        .then((response) => {
          const { data } = response;
          this.name = data.name;
          this.instructions = this.splitInstructions(data.instructions);
          this.ingredients = data.ingredients.map(ingredient => ingredient.name);
          this.servings_amount = data.servings_amount;
          this.preparation_time_in_minutes = data.preparation_time_in_minutes;
          this.category = data.category;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
    splitInstructions(instructions) {
      const REGEX = /("(?:[^"\\]|(?:\\\\)|(?:\\\\)*\\.{1})*")/g;
      const rawInstructions = instructions.split(REGEX);
      return rawInstructions.map(step => step.trim().replace(/"(.+)"/g, '$1')).filter(step => step !== '' && step !== ' ' && step !== ',' && step !== ']}]},{"');
    },
    goToHomeAndFeedback() {
      this.$store.dispatch('toggleFeedback', { isFeedbackOpened: true });
      this.$router.push({ name: 'search' });
    },
  },

  created() {
    this.loadRecipe();
  },
};
</script>

<style lang='stylus' scoped>
@import '~variables';

h1 {
  border-bottom: 1px solid lightgray;
}
ol {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: item;
  display: flex;
  margin-bottom: 15px;
}
ol li::before {
  content: "0" counter(item);
  font-weight: bold;
  font-size: 2rem;
  color: $primary;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
}
</style>
