<template>
    <q-page class="q-pa-sm">
      <div v-if="resultsAreNotEmpty">
        <div>
          <q-tabs position="top" inverted class="q-pt-xl fixed-top recipe-filters"
                  v-model="activeFilter"
          >
            <q-tab default :class="{ 'active-tab': tabBgColor('all') }" slot="title" name="all"
                   icon="fa fa-utensils" label="Todas"/>
            <q-tab :class="{ 'active-tab': tabBgColor('sweet') }" slot="title" name="sweet"
                   icon="fas fa-cookie-bite" label="Doce"/>
            <q-tab :class="{ 'active-tab': tabBgColor('salty') }" slot="title" name="salty"
                   icon="fastfood" label="Salgado"/>
            <q-tab :class="{ 'active-tab': tabBgColor('fitness') }" slot="title" name="fitness"
                   icon="fas fa-dumbbell" label="Fitness"/>
          </q-tabs>
        </div>
        <div class="filters q-mb-md column flex-center">
          <q-btn-toggle
            rounded
            v-model="selectedMatch"
            toggle-color="secondary"
            :options="[
              {label: 'Tenho Tudo', value: 'total'},
              {label: 'Faltam até 3', value: 'partial'},
            ]"
          />
        </div>
        <div class="text-weight-light text-center q-mb-sm">
          <div v-show="selectedMatch === 'total'">
            Aqui ficam as receitas que você possui <strong>todos</strong> os ingredientes!
          </div>
          <div v-show="selectedMatch === 'partial'">
            Aqui ficam as receitas que faltam <strong>apenas alguns</strong> ingredientes!
          </div>
        </div>
        <!-- <p class="q-caption q-my-xs text-center text-italic">Deslize para mais opções</p> -->
        <div class="row justify-center text-grey-7 q-mb-sm q-headline">
          {{ filterRecipesByCategory.length }} receita(s) encontrada(s)!
        </div>
        <q-carousel
          v-model="slide"
          color="white"
          arrows
          handle-arrow-keys
          height="350px"
        >
          <q-carousel-slide v-for="recipe in filterRecipesByCategory" :key= "recipe.recipe_id"
                            :img-src="recipeIconByCategory(recipe.category)"
          >
            <div class="recipe" @click="goToRecipe(recipe)">
              <div class="absolute-bottom recipe-caption">
                <div class="q-display-1">{{ recipe.name }}</div>
                <recipeInfo :servings_amount="recipe.servings_amount"
                  :preparation_time_in_minutes="recipe.preparation_time_in_minutes"/>
              </div>
            </div>
          </q-carousel-slide>
          <div v-show="!filterRecipesByCategory.length > 0">
            <div class="fixed-center text-center">
            <p>
              <img
                src="~assets/sad.svg"
                style="width:30vw;max-width:150px;"
              >
            </p>
             <p class="text-faded">Opa, não encontramos nada...</p>
          </div>
        </div>
        </q-carousel>
      </div>
      <div v-else >
        <div class="fixed-center text-center">
          <p>
            <img
              src="~assets/sad.svg"
              style="width:30vw;max-width:150px;"
            >
          </p>
          <p class="text-faded">Opa, não encontramos nada...</p>
          <q-btn
            color="primary"
            rounded
            style="width:200px;"
            @click="$router.push('/search')"
          >Voltar</q-btn>
        </div>
      </div>
    </q-page>
</template>

<script>
import { mapState } from 'vuex';
import RecipeInfo from '../components/RecipeInfo.vue';
import recipeIconByCategory from '../mixins/recipeUtils.js';

export default {
  name: 'searchResults',
  components: {
    recipeInfo: RecipeInfo,
  },
  mixins: [recipeIconByCategory],

  data() {
    return {
      slide: 0,
      activeFilter: 'all',
      selectedMatch: '',
    };
  },

  created() {
    this.setDefaultMatch();
  },

  computed: {
    ...mapState({
      searchResults: state => state.recipes.searchResults,
    }),
    resultsAreNotEmpty() {
      return this.searchResults.length > 0;
    },
    filterRecipesByCategory() {
      this.resetSlides();
      if (this.activeFilter === 'all') {
        return this.matchArray;
      }
      return this.matchArray.filter(recipe => recipe.category === this.activeFilter);
    },
    matchArray() {
      if (this.selectedMatch === 'partial') {
        return this.searchResults.filter(recipe => recipe.match === 'partial');
      }
      return this.searchResults.filter(recipe => recipe.match === 'total');
    },
  },

  methods: {
    tabBgColor(tab) {
      return this.activeFilter === tab;
    },
    resetSlides() {
      this.slide = 0;
    },
    goToRecipe(recipe) {
      this.$router.push({ name: 'recipe', params: { id: recipe.recipe_id } });
    },
    setDefaultMatch() {
      const partial = this.searchResults.filter(recipe => recipe.match === 'partial');
      const total = this.searchResults.filter(recipe => recipe.match === 'total');
      this.selectedMatch = (total.length === 0 && partial.length > 0) ? 'partial' : 'total';
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~variables';

strong {
  color: $tertiary;
}
.recipe-caption {
  text-align: center;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, .6);
}
.q-carousel {
  border-radius: 5px;
}
.recipe {
  width 100%
  height 100%
}
.q-tabs {
  z-index: 10000;
}

.q-display-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
}

.active-tab {
  background-color: #28da8b1a;
}

.filters {
  margin-top: 72px;
}

.q-layout-header {
  box-shadow: none;
}
.recipe-filters {
  box-shadow: 0 1px 8px rgba(0,0,0,0.2),
              0 3px 4px rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12);
}
</style>
