<template>
  <q-page class="q-pa-md">
    <feedback :isOpened='isFeedbackOpened'/>
     <div class="column items-center">
      <h1 class="q-title text-primary text-bold q-mt-none">Ingredientes Selecionados</h1>
      <div class="text-weight-light q-body-1 q-mb-md">
        <div>Digite os ingredientes que você tem em casa.</div>
        <div>Nós encontraremos a receita certa pra você!</div>
      </div>
    </div>
    <div class="row justify-around">
      <q-chip v-for="(item, index) in selectedItems" :key="index"
              closable text-color="white" color="primary"
              @hide="removeItem(item); hideTip()"
      >
        {{ item }}
      </q-chip>
      <div v-show="noItemsSelected" class="text-weight-light q-body-1">
        Nenhum ingrediente selecionado.
      </div>
    </div>
    <div class="row justify-around q-mt-sm">
      <div v-show="showTip" class="q-caption q-my-xs text-center text-italic">
        <div>Já selecionamos alguns ingredientes pra você!</div>
        <div>Você pode removê-los se quiser.</div>
      </div>
    </div>
    <div class="row items-center justify-center">
      <q-btn round id="remove-all" class="q-ma-sm" size="sm"
             color="primary" icon="fas fa-ban"
             @click="clearItems"
      />
      <label for="remove-all" class="q-body-1">Limpar tudo</label>
    </div>

    <q-field icon="fas fa-utensils" helper="Digite um ingrediente (ex: Pão)"
             :error="ingredientAlreadyAdded" error-label="Você já adicionou este ingrediente!"
    >
      <q-input v-model="newSearchItem" float-label="Adicione ingredientes"
               @keyup.enter="addItem()"
               ref="search" id="ingredient-input"
               :after="[{icon: 'send', content: true, handler () { addItem() }}]"/>
    </q-field>
    <div class="row justify-center q-mt-md">
      <q-btn rounded color="primary" icon="fas fa-plus-circle"
             label="Adicionar Ingrediente" @click="addItem()"
      />
    </div>
    <div class="column items-center q-mt-lg">
      <h1 class="q-title text-primary text-bold">Já inseriu todos os ingredientes?</h1>
      <div class="text-weight-light text-center q-body-1 q-mb-md">
        <div>Você já inseriu os ingredientes que queria?</div>
        <div>Hora de encontrar receitas!</div>
      </div>
      <q-btn :disabled="noItemsSelected" rounded color="primary"
             label="Pesquisar Receitas" @click="search" icon="fas fa-search"
             :loading="loading"
             class="q-mb-lg"
      />
    </div>

  </q-page>
</template>

<script>
import HTTP from '../services/api/http-common.js';
import { mapState } from 'vuex';
import Feedback from '../components/Feedback.vue';

export default {
  name: 'search',
  data() {
    return {
      showTip: true,
      newSearchItem: '',
      ingredientAlreadyAdded: false,
      loading: false,
    };
  },
  components: {
    feedback: Feedback,
  },
  computed: {
    ...mapState({
      token: state => state.auth.token,
      isFeedbackOpened: state => state.recipes.isFeedbackOpened,
      selectedItems: state => state.search.selectedItems,
    }),
    noItemsSelected() {
      return !this.selectedItems.length > 0;
    },
  },

  methods: {
    hideTip() {
      this.showTip = false;
    },
    randomColor() {
      const colors = ['primary', 'secondary', 'tertiary'];
      return colors[Math.floor(Math.random() * colors.length)];
    },
    addItem() {
      const item = this.newSearchItem.trim();
      if (item !== '' && !this.selectedItems.includes(item)) {
        this.selectedItems.push(item.toLowerCase());
        this.newSearchItem = '';
        this.ingredientAlreadyAdded = false;
      } else {
        this.ingredientAlreadyAdded = true;
      }

      document.querySelectorAll('input#ingredient-input')[0].focus();
    },
    removeItem(item) {
      this.selectedItems.splice(this.selectedItems.indexOf(item), 1);
    },
    search() {
      this.loading = true;
      if (this.selectedItems.length > 0) {
        const headers = { Authorization: this.token };

        HTTP.post('search', {
          ingredients: this.selectedItems,
        }, { headers })
          .then((response) => {
            const { data } = response;
            this.$store.dispatch('saveSearchResults', { searchResults: data });
            this.$router.push({ name: 'searchResults' });
          })
          .catch((e) => {
            this.$q.notify('Algo deu errado');
            this.errors.push(e);
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    clearItems() {
      this.hideTip();
      this.$store.dispatch('selectedItems', { selectedItems: [] });
    },
  },
};
</script>

<style scoped>

.q-chip {
  margin: 3px;
}

.q-field {
  width: 95%;
}

</style>
