<template>
  <q-page-container>
    <q-page class="flex flex-center">
      <logo></logo>
      <div class="termsofuse-card">
        <div class="text-title">
          Termos de Uso
        </div><br>
        <div class="text-body">
          Efetivos em 03 de janeiro de 2019
        </div><br>
        <div class="text-body">

Bem-vindo à Tenho em Casa! Estes Termos de Uso (“Termos”) cobrem todos os websites, aplicativos
móveis, para desktop e OTT, serviços e softwares da Tenho em Casa. e de seus subsidiários
e afiliados (coletivamente, “Tenho em Casa”, “nós”, “nos” ou “nosso”) e qualquer conteúdo
associado, incluindo e-mail e a tecnologia de atualização instantânea Rich Site Summary.
Por favor, leia estes Termos com atenção e confira nossa Política de Privacidade, disponível em
<a href="https://bit.ly/2U6P5ox">Política de Privacidade</a>, para ter informações sobre como
coletamos, utilizamos e divulgamos informações de nossos usuários. Ao visitar os websites da Tenho
em Casa ou baixar, instalar ou utilizar qualquer software ou serviço móvel, para desktop, por OTT
ou outro aplicativo, ou outros materiais ou serviços disponibilizados pela Tenho em Casa
(coletivamente, os “Serviços”), você declara concordar com os termos e condições dispostos nestes
Termos e em nossa Política de Privacidade. <strong>Caso você não concorde com algum destes Termos
ou com nossa Política de Privacidade, pode optar por não utilizar os Serviços.</strong>
        </div><br>

        <div class="text-title">
          MUDANÇAS NOS TERMOS
        </div><br>

        <div class="text-body">
É possível que modifiquemos os Termos a qualquer momento e a nosso critério. Caso façamos isso,
você concorda que a Tenho em Casa te notifique da atualização dos Termos, por meio de sua postagem
nos Serviços, e que seu uso dos Serviços após a data efetiva dos Termos atualizados (ou fizer
outra coisa que poderemos especificar) constitui sua concordância com os Termos atualizados.
É importante que você revise os Termos sempre que eles forem modificados, pois, se você continuar
a utilizar os Serviços depois da divulgação dos Termos modificados em nosso website, estará
indicando que concorda com os Termos modificados. Se não aceitar o vínculo por meio dos Termos
modificados, poderá descontinuar o uso dos Serviços. Como nossos Serviços evoluem com o passar
do tempo, poderemos modificar ou descontinuar todas ou qualquer parte dos Serviços, a qualquer
momento e sem aviso prévio, a nosso critério.
        </div><br>

        <div class="text-body"><strong>
Notificação de Arbitragem: A não ser que abra mão da arbitragem dentro de 30 dias após a data
em que você concordou pela primeira vez com estes Termos, seguindo o procedimento especificado
na seção “Arbitragem” abaixo, e exceto para certos tipos de disputas descritas na seção
“Arbitragem” abaixo, você concorda que as disputas entre você e a Tenho em Casa serão resolvidas
por um processo arbitral individual e que você renunciará seu direito a um julgamento por júri ou
de participar como reclamante ou membro de classe em qualquer ação de classe pretendida ou
processo representativo.</strong>
        </div><br>

        <div class="text-title">
          QUEM PODE UTILIZAR OS SERVIÇOS
        </div><br>

        <div class="text-body">
Para utilizar os Serviços, você precisa ter pelo menos 13 anos de idade e ser capaz de firmar um
contrato com a Tenho em Casa. Cumprindo isso, você poderá utilizar os Serviços sob a lei
aplicável. A Tenho em Casa pode, a seu critério, modificar ou revisar estes Termos e políticas a
qualquer momento.
        </div><br>

        <div class="text-title">
          CONTAS TENHO EM CASA
        </div><br>

        <div class="text-body">
Você não precisa de uma conta para acessar o conteúdo dos Serviços; porém, para acessar alguns
recursos dos Serviços, precisará criar uma conta. Você pode criar sua conta por meio de sua conta
no Facebook ou em outras redes sociais (“Conta SRS”). Se você escolher essa opção, extrairemos
certas informações pessoais desta Conta SRS para criar sua conta, como seu nome e endereço de
e-mail, além de outras informações pessoais que as configurações de privacidade de sua conta SRS
nos permitir acessar. Seu uso destes serviços de terceiros é regido pelos termos de uso e pela
política de privacidade dos respectivos.
        </div><br>

        <div class="text-body">
Ao criar sua conta, você precisará fornecer informações precisas e completas. A Tenho em Casa
proíbe a criação de uma conta para outra pessoa e você garante que não criará. Você também
representa que todas as informações que você fornece ou que são fornecidas à Tenho em Casa
durante o registro e a qualquer momento serão verdadeiras, precisas, atuais e completas e você
concorda em atualizar seus dados quando necessário para manter a veracidade e a precisão. Você
é o único responsável pelas atividades realizadas em sua conta e por proteger sua senha do uso
não autorizado. Você precisará notificar a Tenho em Casa imediatamente caso haja alguma quebra
de segurança ou uso não autorizado em sua conta. Você concorda que não solicitará, coletará ou
utilizará as credenciais de login de outros usuários Tenho em Casa. Além disso, você nunca
poderá utilizar a conta de outra pessoa sem permissão.
        </div><br>

        <div class="text-body">
Embora a Tenho em Casa não se responsabilize pelas perdas causadas por uso não autorizado em sua
conta, você pode ser responsabilizado pelas perdas causadas à Tenho em Casa ou a outros por
conta de tal uso não autorizado. Em tal caso, poderemos ter que suspender ou desativar sua
conta. A Tenho em Casa não se responsabilizará por qualquer acesso não autorizado ou alteração de
dados enviados ou recebidos por sua conta, independentemente se os dados foram realmente recebidos
pela Tenho em Casa.
        </div><br>

        <div class="text-body">
Os Serviços são um serviço gratuito temporário (exceto o que é descrito abaixo para as assinaturas
pagas) e a Tenho em Casa pode começar a cobrar a qualquer momento pelo uso de alguma ou de todas
as partes do Serviços. A Tenho em Casa se reserva o direito de descontinuar qualquer aspecto dos
Serviços a qualquer momento. A Tenho em Casa se reserva o direito de reivindicar nomes de usuários
que se tornarem inativos ou por parte de empresas ou indivíduos que possuam direitos legais ou
marcas registradas com tais nomes. Estes Termos se aplicam a todos os usuários dos Serviços,
incluindo os que contribuem com submissões, como descrito abaixo.
        </div><br>

        <div class="text-title">
          POLÍTICA DE PRIVACIDADE
        </div><br>

        <div class="text-body">
Por favor, confira nossa Política de Privacidade, disponível em <a href="https://bit.ly/2U6P5ox">
Termos de Uso</a>, para ter informações sobre como coletamos, utilizamos e divulgamos informações
de nossos usuários.
        </div><br>

        <div class="text-title">
          POSSE DE CONTEÚDO, RESPONSABILIDADE E REMOÇÃO
        </div><br>

        <div class="text-body">
Para os propósitos destes Termos: (i) “Conteúdo” significa texto, gráficos, imagens, músicas,
áudios, vídeos, obras de autoria de qualquer tipo e informação ou outros materiais que forem
postados, gerados, fornecidos ou disponibilizados por meio dos Serviços; e (ii) “Conteúdo de
Usuário” significa qualquer Conteúdo que os detentores de contas (incluindo você) fornecem para
ser disponibilizado por meio dos Serviços. O Conteúdo inclui o Conteúdo de Usuário sem limitação.
        </div><br>

        <div class="text-body">
A Tenho em Casa não reclama para si quaisquer direitos de propriedade em relação a qualquer
Conteúdo de Usuário que você disponibilizar por meio dos Serviços e nada nestes Termos será
considerado para restringir qualquer direito que você possa precisar utilizar ou explorar seu
Conteúdo de Usuário.Sujeita a isso, a Tenho em Casa e seus licenciantes exclusivamente possuem
todos os direitos, títulos e interesse nos e para os Serviços e Conteúdo, incluindo todos os
direitos associados de propriedade intelectual. Você reconhece que os Serviços e o Conteúdo são
protegidos por copyright, marca registrada e outras leis do Brasil e países estrangeiros e
quaisquer outras leis aplicáveis. Você concorda em não remover, alterar ou ocultar qualquer
copyright, marca registrada, marca de serviço ou outras notificações de direitos de
propriedade que acompanhem ou estejam incorporados nos Serviços ou no Conteúdo. Os Serviços
também podem exibir as marcas registradas, marcas de serviço e logomarcas de terceiros e cada
proprietário detém todos os direitos sobre tais marcas registradas, marcas de serviço e
logomarcas, e qualquer uso de tais servirá somente ao benefício de seus respectivos proprietários.
        </div><br>

        <div class="text-title">
          DIREITOS GARANTIDOS PELA TENHO EM CASA
        </div><br>

        <div class="text-body">
Sujeita à concordância com estes Termos, a Tenho em Casa te garante uma licença limitada, não
exclusiva e intransferível para acessar e visualizar o Conteúdo somente em conexão com seu uso
permitido dos Serviços e apenas com propósitos pessoais e não comerciais.
        </div><br>

        <div class="text-title">
          DIREITOS NO CONTEÚDO DE USUÁRIO GARANTIDOS POR VOCÊ
        </div><br>

        <div class="text-body">
Ao disponibilizar qualquer Conteúdo de Usuário por meio dos Serviços, você garante à Tenho em
Casa, por meio deste, uma licença não exclusiva, mundial, perpétua, irrevogável, livre de
royalties e transferível, com o direito de garantir sub-licenças, acessar, utilizar, copiar,
modificar, criar obras derivadas com base nas suas, distribuir, divulgar publicamente, executar
publicamente, visualizar, baixar e imprimir seus Conteúdos de Usuário em conexão com a operação e
o fornecimento dos Serviços e do Conteúdo, em qualquer e toda mídia existente atualmente ou
desenvolvida daqui em diante.
        </div><br>

        <div class="text-body">
Você é o único responsável por seu Conteúdo de Usuário. Isso significa que você representa e
garante que é detentor de todo seu Conteúdo de Usuário ou que tem os direitos necessários para nos
garantir os direitos de licença em seu Conteúdo de Usuário sob estes Termos. Você também
representa e garante que nem seu Conteúdo de Usuário, nem seu uso e a provisão de seu Conteúdo de
Usuário, nem qualquer uso de seu Conteúdo de Usuário pela Tenho em Casa nos ou por meio dos
Serviços infringirão, desviarão a função ou violarão os direitos de propriedade intelectual de
terceiros ou direitos de publicidade ou privacidade ou resultarão na violação de qualquer lei ou
regulamentação aplicável. Você entende e está de acordo que qualquer Conteúdo de Usuário submetido
estará publicamente disponível em seus aplicativos móveis, para desktop ou outros softwares (os
“Apps”).
        </div><br>

        <div class="text-body">
Você pode remover seu Conteúdo de Usuário, deletando-o especificamente. Porém, em certos casos,
partes de seu Conteúdo de Usuário (como postagens ou comentários feitos) podem não ser
completamente removidos e cópias de seu Conteúdo de Usuário podem continuar a existir nos
Serviços. Não temos responsabilidade nem obrigação legal pela remoção ou exclusão (ou pela falha
na remoção ou na exclusão) de qualquer Conteúdo de Usuário.
        </div><br>

        <div class="text-title">
          CONTEÚDO DE MÍDIAS SOCIAIS E SITES DE REDES
        </div><br>

        <div class="text-body">
Como parte das funcionalidades dos Serviços, você pode associar sua conta à uma Conta SRS,
permitindo que a Tenho em Casa acesse sua Conta SRS, de acordo com o permitido segundo os termos e
condições aplicáveis que regem seu uso de cada Conta SRS. Você concorda em não divulgar suas
informações de login na Conta SRS à Tenho em Casa e/ou garantir à Tenho em Casa o acesso a sua
Conta SRS, a menos que você tenha permissão para tal do SRS aplicável. A Tenho em Casa não terá
qualquer obrigação referente ao pagamento de taxas ou estará sujeita a quaisquer limitações de uso
impostas por SRSs.
        </div><br>

        <div class="text-body">
Ao associar sua Conta SRS à sua conta Tenho em Casa, você entende que a Tenho em Casa acessará,
disponibilizará e armazenará (se aplicável) alguns dos conteúdos que você forneceu ou armazenou em
sua Conta SRS, de modo que eles estarão disponíveis nos e por meio dos Serviços via sua conta. A
não ser que haja outra especificação nestes Termos, todos esses conteúdos, se houver, serão
considerados Conteúdos de Usuário para todos os propósitos destes Termos. A depender das Contas
SRS escolhidas e das configurações de privacidade aplicáveis do SRS, as informações pessoalmente
identificáveis que você postar em suas Contas SRS e informações sobre sua rede SRS estarão
disponíveis em e por meio de sua Conta. Tenha em mente que, se uma Conta SRS ou um serviço
associado se tornar indisponível ou se o acesso da Tenho em Casa a tal Conta SRS for encerrado
pelo provedor de serviço de terceiros, o conteúdo de sua Conta SRS não estará mais disponível nos
e por meio dos Serviços. Para desabilitar a associação entre sua Conta e suas Contas SRS, basta
enviar um e-mail para <strong>tenhoemcasa.receitas@gmail.com</strong> com sua solicitação. Você
poderá se comunicar conosco em português. Tomaremos as medidas necessárias para desabilitar a
associação assim que possível. <strong>Tenha em mente que seu relacionamento com os provedores de
serviços de suas Contas SRS associadas é regido apenas por seu(s) acordo(s) com tais provedores de
serviços de Contas SRS.</strong>
        </div><br>

        <div class="text-title">
          COMPARTILHAMENTO SOCIAL
        </div><br>

        <div class="text-body">
Se você quiser, poderá compartilhar o Conteúdo em algumas de suas Contas SRS, por meio de
mensagens móveis ou e-mails, através da funcionalidade de compartilhamento social que
implementamos em alguns dos Serviços. Você concorda em fazer tais compartilhamentos apenas com
destinatários que você sabe que não se oporiam ao recebimento de tal Conteúdo e terá
responsabilidade total por qualquer obrigação que possa haver em decorrência de compartilhamento
inapropriado ou indesejado. Se você compartilhar por meio de uma de suas Contas SRS, tal
compartilhamento estará sujeito às configurações de privacidade definidas na própria Conta SRS e à
política de privacidade da própria Conta SRS.
        </div><br>

        <div class="text-title">
          ALERTAS E NOTIFICAÇÕES
        </div><br>

        <div class="text-body">
Como parte dos Serviços, você poderá (se habilitado) receber notificações push, mensagens de
texto, alertas, e-mails ou outros tipos de mensagens enviadas diretamente a você por fora ou por
dentro dos Apps (“Mensagens Push”). Se você decidir habilitar tais Mensagens Push, concordará em
receber comunicações da Tenho em Casa por meio das Mensagens Push. Você tem controle sobre as
configurações das Mensagens Push e pode habilitá-las ou desabilitá-las por meio dos Serviços
(com a possível exceção de raras e importantes mensagens administrativas ou anúncios de serviços).
Esteja consciente de que pode haver mensagens de terceiros ou cobranças de dados referentes a
estas Mensagens Push a depender do plano que você tiver com sua operadora.
        </div><br>

        <div class="text-title">
          DIREITOS DE PROPRIEDADE
        </div><br>

        <div class="text-body">
Você reconhece e concorda que os Serviços e todos os materiais incorporados pela Tenho em Casa nas
plataformas nas quais os Serviços são disponibilizados, incluindo, sem limitações, todo o
Conteúdo, interfaces visuais, recursos interativos, informações, gráficos, design, compilações,
códigos computacionais, APIs, produtos, softwares, serviços e todos os demais elementos dos
Serviços (coletivamente, “Materiais”) constituem posse e propriedade de valor da Tenho em Casa e
são protegidos por copyrights, patente, segredos comerciais ou outros direitos e leis sobre a
propriedade do Brasil e internacionais e quaisquer outras leis aplicáveis (“Direitos de PI”).
Qualquer uso dos Serviços que for diferente do especificamente autorizado por meio deste está
estritamente proibido. Quaisquer direitos que não forem expressamente garantidos por meio deste
estão reservados à Tenho em Casa. Alguns dos caracteres, logomarcas ou outras imagens incorporadas
pela Tenho em Casa nos websites da Tenho em Casa também são protegidos como marcas registradas ou
não registradas, nomes comerciais e/ou marcas de serviço de posse da Tenho em Casa, ou outros
(coletivamente,”Marcas Registradas”). Você está de acordo em não utilizar qualquer Marca
Registrada Tenho em Casa sem a permissão escrita da Tenho em Casa. Outras marcas registradas,
marcas de serviço, nomes comerciais, logomarcas e outras marcas utilizadas e exibidas por meio dos
Serviços (“Marca(s) de Terceiros”) podem ser marcas registradas ou marcas de serviço de seus
respectivos detentores que podem ou não endossar ou ser afiliados ou associados à Tenho em Casa.
Exceto quando expressamente descrito nestes Termos ou em termos fornecidos pelo proprietário de
uma Marca de Terceiros, nada nestes Termos ou nos Serviços deve ser interpretado como concessão,
por implicação, preclusão ou, de outra forma, qualquer licença ou direito de uso de quaisquer
Marcas Registradas Tenho em Casa exibidas nos Serviços, sem a permissão escrita com antecedência
da Tenho em Casa em cada caso. Toda a boa vontade oriunda do uso das Marcas Registradas Tenho em
Casa será revertida para o benefício exclusivo da Tenho em Casa.
        </div><br>

        <div class="text-title">
          SEU USO DO MATERIAL
        </div><br>

        <div class="text-body">
Seu direito de fazer uso dos Serviços e de qualquer Material disponibilizado a você está sujeito à
sua concordância com estes Termos. O Material é fornecido a você “da forma como está”. A
modificação ou o uso do Material ou de qualquer outro conteúdo disponibilizado a você pela Tenho
em Casa para qualquer propósito não permitido por estes Termos podem configurar uma violação de
Direitos PI e são proibidos. Você pode acessar e exibir Conteúdo apenas para uso não comercial,
pessoal e de entretenimento, em um único computador ou dispositivo por vez. O Material e todos os
demais conteúdos nas plataformas Tenho em Casa não podem, de outra forma, ser copiados,
reproduzidos, republicados, carregados, postados, transmitidos, distribuídos ou usados de qualquer
maneira a não ser a especificamente autorizada pela Tenho em Casa. O uso de qualquer Material em
qualquer outro website ou ambiente de rede de computador é proibido. Além disso, estão proibidas a
decompilação, a engenharia reversa, a desmontagem ou, de outra forma, a redução do código usado em
qualquer software para os Serviços em um formato legível, a fim de analisar a construção de tal
software e/ou copiar ou criar outros produtos baseados (parcial ou integralmente) em tal software.
Você entende que, ao utilizar os Serviços, estará exposto a Materiais de uma variedade de fontes e
que a Tenho em Casa não se responsabiliza pela precisão, atualização, utilidade ou pelos Direitos
PI destes Materiais ou a relacionados eles.
        </div><br>

        <div class="text-title">
          TERMOS ESPECÍFICOS PARA OS APPS TENHO EM CASA
        </div><br>

        <div class="text-body">
Sujeita à concordância com estes Termos, a Tenho em Casa te concede uma licença limitada, não
exclusiva e intransferível para baixar e instalar uma cópia do App aplicável nos dispositivos
móveis, computadores ou televisores smart que você possuir ou controlar e para executar essas
cópias do App apenas com propósitos pessoais e não comerciais. Além disso, a respeito de qualquer
App acessado por meio da ou baixado da Apple App Store ou da Google Play Store, conforme o caso
(“Aplicativo Oriundo de Loja de Apps”), você utilizará o Aplicativo Oriundo de Loja de Apps
apenas: (i) em produtos com a marca Apple que rodem iOS ou produtos que rodem Android, de acordo
com o caso; e (ii) de acordo com o permitido pelos termos e condições de tal Aplicativo Oriundo de
Loja de Apps. A Tenho em Casa reserva todos os direitos no e sobre o App não expressamente
concedidos a você sob estes Termos.
        </div><br>

        <div class="text-body">
Você não pode: (i) copiar, modificar ou criar obras derivadas e baseadas nos Apps; (ii)
distribuir, transferir, sub-licenciar, arrendar, emprestar ou alugar os Apps a qualquer terceiro;
(iii) executar engenharia reversa, decompilar ou desmontar os Apps; ou (iv) tornar a
funcionalidade dos Apps disponível para vários usuários por quaisquer meios.
        </div><br>

        <div class="text-title">
          TERMOS ADICIONAIS PARA APLICATIVOS APPLE
        </div><br>

        <div class="text-body">
Em relação a qualquer Aplicativo Oriundo de Loja de Apps obtido por meio da Apple App Store, você
reconhece e concorda com os pontos a seguir:
        </div><br>

        <div class="text-body">
O acordo referente a estes Termos é firmado entre você e a Tenho em Casa, e não a Apple. A Tenho
em Casa (e não a Apple) é a única responsável pelo Aplicativo Oriundo de Loja de Apps. A Apple não
tem a obrigação de fornecer serviços de manutenção e suporte relacionados ao Aplicativo Oriundo de
Loja de Apps.
        </div><br>


        <div class="text-body">
No caso de alguma falha no Aplicativo Oriundo de Loja de Apps que seja coberta por uma garantia
aplicável, você pode notificar a Apple e ela ressarcirá o preço de compra do produto (se
aplicável) e, com a extensão máxima permitida pela lei aplicável, não terá outra obrigação de
garantia qualquer a respeito do Aplicativo Oriundo de Loja de Apps. Quaisquer outras reclamações,
perdas, obrigações, danos, custos ou despesas atribuíveis a qualquer falha do Aplicativo Oriundo
de Loja de Apps coberta por uma garantia aplicável serão de responsabilidade exclusiva da Tenho
em Casa. A Apple não é responsável por lidar com reclamações que você ou algum terceiro possam ter
a respeito do Aplicativo Oriundo de Loja de Apps ou do uso ou da posse do Aplicativo Oriundo de
Loja de Apps, incluindo, mas não limitado a: (i) pedidos de indenização pelo produto; (ii)
qualquer reclamação que o Aplicativo Oriundo de Loja de Apps não precise cumprir de acordo com
qualquer requisito legal ou regulamentar aplicável; e (iii) reclamações oriundas de legislações
ligadas à proteção do consumidor ou semelhantes.
        </div><br>


        <div class="text-body">
No caso de qualquer reclamação de terceiros de que o Aplicativo Oriundo de Loja de Apps ou de que
seu uso ou posse desse Aplicativo Oriundo de Loja de Apps infringe os direitos de propriedade
intelectual destes terceiros, a Tenho em Casa será unicamente responsável pela investigação,
defesa, acordo e quitação de tal reclamação na medida exigida por estes Termos.
        </div><br>


        <div class="text-body">
A Apple e seus subsidiários são beneficiários terceiros destes Termos no que diz respeito a sua
licença do Aplicativo Oriundo de Loja de Apps e a Apple, após seu aceite destes Termos, terá o
direito (e será considerada como tendo aceito o direito) para fazer esses Termos valerem no que
diz respeito a sua licença do Aplicativo Oriundo de Loja de Apps contra você como o beneficiário
terceiro de tal. Você também precisa concordar com todos os termos de serviço de terceiros
aplicáveis ao utilizar o Aplicativo Oriundo de Loja de Apps.
        </div><br>

        <div class="text-title">
          ASSINATURAS PAGAS
        </div><br>

        <div class="text-body">
É possível que cobremos uma taxa para que você acesse certos Serviços que exigem uma assinatura,
de modo que possamos oferecer tais Serviços que a Tenho em Casa não teria como disponibilizar
sem uma cobrança. Reservamo-nos o direito de determinar quais Serviços estão sujeitos a uma taxa
de assinatura e poderemos alterá-los de tempos em tempos. Se você escolher assinar tais Serviços,
será um “assinante”. Você poderá encontrar detalhes específicos a respeito de sua assinatura a
qualquer momento, acessando sua conta Tenho em Casa. Você concorda com o fato de que sua
assinatura será apenas para uso individual.
        </div><br>

        <div class="text-title">
          COBRANÇA
        </div><br>

        <div class="text-body">
Ao fornecer um cartão de crédito ou outro método de pagamento aceito pela Tenho em Casa (“Método
de Pagamento”) para sua assinatura, você está concordando expressamente com o fato de que nós (ou
um processador de pagamentos de terceiros, como Stripe, Apple ou Google) teremos autorização para
cobrar de você uma taxa de assinatura, quaisquer outras taxas de serviços adicionais que você
adquirir e quaisquer taxas aplicáveis ao Método de Pagamento e relacionadas ao seu uso de sua
assinatura.
        </div><br>

        <div class="text-body">
Nestes Termos, utilizamos a palavra “cobrança” para indicar tanto uma cobrança ou débito, como
aplicável, por meio de seu Método de Pagamento. Se você escolher uma opção de cobrança mensal pelo
Serviço aplicável, a taxa de assinatura será automaticamente cobrada no começo de sua assinatura e
<strong>ela será automaticamente renovada mensalmente e você será cobrado a cada mês seguinte a
não ser que e até que você cancele sua assinatura</strong> ou que a conta ou o Serviço sejam, de
outra forma, suspensos ou descontinuados, conforme estes Termos. Se você escolher uma opção de
cobrança anual pelo Serviço aplicável, a taxa de assinatura será automaticamente cobrada no começo
de sua assinatura e <strong>ela será automaticamente renovada anualmente e você será cobrado a
cada ano seguinte a não ser que e até que você cancele sua assinatura </strong>ou que a conta ou
o Serviço sejam, de outra forma, suspensos ou descontinuados, conforme estes Termos. As taxas de
assinatura são totalmente adquiridas mediante pagamento. Para ver a data de início de seu próprio
período de renovação, acesse sua conta Tenho em Casa.
        </div><br>

        <div class="text-body">
No caso de assinaturas, a Tenho em Casa, ou seu provedor de serviços de pagamentos de terceiros
autorizado a aceitar pagamentos em nome da Tenho em Casa (como Stripe, Apple ou Google), fará
automaticamente a cobrança em seu Método de Pagamento a cada mês (ou ano, a depender do caso) no
dia do calendário correspondente ao início de sua assinatura (seja um período mensal ou anual, um
“Período de Cobrança”). Se, porventura, sua assinatura começou em um dia que não existe em dado
mês, a fatura será gerada em seu Método de Pagamento no último dia do mês em questão. Se você
alterar o Método de Pagamento, o dia de cobrança da taxa poderá ser modificado. Você reconhece que
o valor cobrado em cada Período de Cobrança pode variar devido a ofertas promocionais, alterações
em sua assinatura e mudanças em taxas aplicáveis e nos autoriza a gerar a fatura em seu Método de
Pagamento com as quantias correspondentes. Se a Tenho em Casa alterar a taxa de assinatura ou
outros valores relacionados a sua assinatura, avisaremos sobre tais mudanças por e-mail e com
antecedência. Porém, não poderemos te informar a respeito de mudanças em quaisquer taxas
aplicáveis.
        </div><br>

        <div class="text-body">
Em raros casos, se houver circunstâncias especiais em que a Tenho em Casa determinar que é
apropriado (por exemplo, se seu Serviço de assinatura estiver indisponível por dias devido a
problemas técnicos), poderemos fornecer créditos a assinantes afetados. A quantia e a forma de
tais créditos, além da decisão de fornecê-los, ficam a critério único e exclusivo da Tenho em
Casa, e o fornecimento de créditos em um caso não pressupõe o fornecimento de créditos no futuro
sob circunstâncias semelhantes ou diferentes.
        </div><br>

        <div class="text-body">
Perceba que, se você assinar um Serviço por meio de uma conta Apple iTunes ou Google Play,
precisará gerir sua assinatura diretamente através desses serviços, respectivamente. Embora os
termos de assinatura sejam, em geral, semelhantes aos descritos acima, consulte os termos de
assinatura aplicáveis da Apple ou da Google para conferir os termos aplicáveis a sua assinatura,
incluindo os termos de renovação.
        </div><br>

        <div class="text-title">
          ASSINATURA VIGENTE E CANCELAMENTO
        </div><br>

        <div class="text-body">
Se você selecionou uma opção de assinatura, sua assinatura continuará em vigor em uma <strong>
base mensal ou anual</strong>, a depender da opção selecionada, a não ser e até que você cancele
sua assinatura ou a conta ou que o Serviço seja, de outra forma, suspenso ou descontinuado,
conforme estes Termos.
Você precisa cancelar sua assinatura antes de sua data de renovação (que você pode conferir em
sua conta Tenho em Casa), a fim de evitar a cobrança seguinte. Nós cobraremos a taxa mensal ou
anual de assinatura, além das taxas aplicáveis ao Método de Pagamento que você indicou para uso
durante o registro (ou a um Método de Pagamento diferente, caso você altere as informações em sua
conta). Se você cancelar sua assinatura, o cancelamento será efetivado ao fim do Período de
Cobrança vigente, o que significa que você continuará a ter acesso a sua assinatura até tal data,
mas não será reembolsado. OS PAGAMENTOS NÃO SÃO RESSARCÍVEIS E NÃO HÁ REEMBOLSO OU CRÉDITOS PARA
PERÍODOS USADOS PARCIALMENTE. Para cancelar sua assinatura, acesse sua conta Tenho em Casa e
clique em “Cancelar Assinatura”.
        </div><br>

        <div class="text-body">
É possível que ofereçamos um número de planos de assinatura de tempos em tempos, com condições e
limitações diferentes. Quaisquer termos materialmente diferentes daqueles descritos nestes Termos
serão divulgados quando você acessar sua conta ou por meio de outras comunicações disponibilizadas
a você. Algumas assinaturas promocionais são oferecidas por terceiros, em conjunto com a provisão
de seus próprios produtos e serviços. Não nos responsabilizamos pelos produtos e serviços
fornecidos por tais terceiros. Reservamo-nos o direito de modificar, encerrar ou, de outra forma,
emendar nossos planos de assinatura oferecidos.
        </div><br>

        <div class="text-body">
É importante que cada assinante cumpra com as obrigações de pagamento com as quais concordou. Por
conseguinte, reservamo-nos o direito de reivindicar qualquer quantia ligada à sua assinatura que
você tenha deixado de pagar. Você continuará responsável pela quantia e pelos custos incorridos em
relação à cobrança desses valores, incluindo, sem limitação, tarifas de crédito rotativo, taxas da
agência de cobrança, honorários advocatícios razoáveis e custos de arbitragem ou de tribunal.
        </div><br>

        <div class="text-body">
Perceba que, se você assinar um Serviço por meio de uma conta Apple iTunes ou Google Play,
precisará gerir sua assinatura diretamente através desses serviços, respectivamente. Embora os
termos de assinatura sejam, em geral, semelhantes aos descritos acima, consulte os termos de
assinatura aplicáveis da Apple ou da Google para conferir os termos aplicáveis a sua
assinatura, incluindo os termos específicos de renovação e quando e como cancelar uma assinatura.
        </div><br>

        <div class="text-title">
          TESTES GRATUITOS
        </div><br>

        <div class="text-body">
As assinaturas pagas poderão ser oferecidas – na modalidade de teste gratuito (“Teste Gratuito”) –
a determinados usuários qualificados, por um período de tempo específico. Caso ofereçamos um Teste
Gratuito, seus termos específicos serão informados no ato de registro e/ou nos materiais
promocionais que descrevem o Teste Gratuito. O seu uso está sujeito ao cumprimento desses termos
específicos. Podem existir certas limitações relacionadas à combinação dos testes gratuitos a
outras ofertas. Exceto quando de outra forma for estabelecido nos termos específicos da oferta,
os Testes Gratuitos estarão disponíveis apenas para usuários que não tenham possuído previamente
uma assinatura paga. Ao concordar com um Teste Gratuito, você também está concordando em se
registrar para uma assinatura paga, conforme descrito acima, e, consequentemente, a menos que
você cancele sua assinatura antes do fim do seu Teste Gratuito, nós (ou a empresa terceirizada de
processamento de pagamentos) começaremos a cobrar mensalmente o seu método de pagamento, no valor
aplicável (além de impostos e outros encargos), ao final do Teste Gratuito, até que você cancele a
sua assinatura. Por favor, observe que você não receberá da Tenho em Casa um aviso quanto ao fim
do seu Teste Gratuito nem quanto à necessidade de realizar o pagamento da sua assinatura. Caso
queira evitar cobranças em seu Método de Pagamento, você deverá cancelar sua assinatura antes da
meia-noite no Fuso Horário Oriental, no último dia do período do seu Teste Gratuito. As instruções
para cancelar a sua assinatura podem ser encontradas na seção intitulada “Assinatura Recorrente e
Cancelamento”. Na extensão em que as assinaturas forem oferecidas junto à compra ou pagamento por
produtos ou serviços terceirizados, você concorda que a Tenho em Casa não será responsável quanto
a reclamações decorrentes ou relacionadas à sua compra ou uso desses produtos e serviços
terceirizados. Reservamo-nos o direito de determinar a elegibilidade para os Testes Gratuitos e
de modificar ou terminar os Testes Gratuitos a qualquer momento, sem aviso prévio e a nosso
exclusivo critério.
        </div><br>


        <div class="text-title">
          FEEDBACK
        </div><br>

        <div class="text-body">
Nós apreciamos seu Feedback, comentários e sugestões de melhorias nos Serviços (“Feedback”). Você
pode enviar Feedback por meio do e-mail tenhoemcasa.receitas@gmail.com. Você poderá se comunicar
conosco em português. Ao nos fornecer qualquer Feedback, você nos estará concedendo uma licença
não exclusiva, mundial, perpétua, irrevogável, totalmente paga, livre de royalties,
sub-licenciável e transferível sob quaisquer e todos direitos de propriedade intelectual que você
possui ou controla para usarmos, copiarmos, modificarmos, criarmos obras derivadas e baseadas
nele e, de outra forma, explorarmos o Feedback com qualquer propósito.
        </div><br>

        <div class="text-title">
          PROIBIÇÕES GERAIS
        </div><br>

        <div class="text-body">
Você concorda em não fazer nada do que está a seguir:

Postar, carregar, publicar, submeter ou transmitir qualquer Conteúdo que: (i) infrinja, desvie
a função de ou viole uma patente, copyright, marca registrada, segredo comercial, direitos
morais ou outros direitos de propriedade intelectual, ou direitos de publicidade ou privacidade
de terceiros; (ii) viole ou incentive qualquer conduta que violaria qualquer lei ou regulamentação
aplicável ou que daria origem a responsabilidade civil; (iii) seja fraudulento, falso, enganoso ou
que induza ao erro; (iv) seja difamatório, obsceno, pornográfico, vulgar ou ofensivo; (v) promova
discriminação, intolerância, racismo, ódio, provocação ou danos contra qualquer indivíduo ou
grupo; (vi) seja violento ou ameaçador ou promova violência ou ações que sejam ameaçadoras a
qualquer pessoa ou entidade; ou (vii) promova atividades ou substâncias ilegais ou danosas.
        </div><br>


        <div class="text-body">
Utilizar, exibir, espelhar ou emoldurar os Serviços, ou qualquer elemento individual dentro dos
Serviços, o nome da Tenho em Casa, qualquer marca registrada, logomarca ou outras informações de
propriedade da Tenho em Casa, ou o layout e o design de qualquer página ou formulário contido em
uma página, sem a permissão expressa por escrito da Tenho em Casa.
        </div><br>


        <div class="text-body">
Acessar, invadir ou utilizar áreas não públicas dos Serviços, os sistemas de computadores da Tenho
em Casa ou os sistemas de distribuição técnica dos provedores da Tenho em Casa;
        </div><br>


        <div class="text-body">
Tentar examinar, escanear ou testar a vulnerabilidade de qualquer sistema ou rede da Tenho em Casa
ou violar quaisquer medidas de segurança ou autenticação;
        </div><br>


        <div class="text-body">
Evitar, ignorar, remover, desativar, prejudicar, decodificar ou, de outra forma, contornar
qualquer medida tecnológica implementada pela Tenho em Casa ou qualquer um dos provedores da
Tenho em Casa ou quaisquer outros terceiros (incluindo outro usuário) para proteger os Serviços
ou o Conteúdo.
        </div><br>


        <div class="text-body">
Tentar acessar ou fazer buscas em nossos Serviços ou Conteúdo ou baixar Conteúdo dos Serviços
através do uso de qualquer motor, software, ferramenta, agente, dispositivo ou mecanismo
(incluindo spiders, robôs, rastreadores, ferramentas de mineração de dados ou semelhantes) que
seja diferente do software e/ou dos agentes de busca fornecidos pela Tenho em Casa ou por outros
navegadores de terceiros geralmente disponíveis.
        </div><br>


        <div class="text-body">
Enviar, de maneira não solicitada ou não autorizada, propagandas, materiais promocionais, e-mails,
lixo eletrônico, spams, correntes ou outras formas de solicitação.
        </div><br>


        <div class="text-body">
Utilizar quaisquer metatags ou outros textos ou metadados ocultos utilizando uma marca registrada,
logomarca, URL ou nome de produto da Tenho em Casa sem a permissão expressa por escrito da Tenho
em Casa.
        </div><br>


        <div class="text-body">
Utilizar os Serviços ou o Conteúdo com propósito comercial ou em prol de qualquer terceiro ou de
qualquer maneira não permitida por estes Termos.
        </div><br>


        <div class="text-body">
Forjar qualquer cabeçalho de pacote TCP/IP ou qualquer parte das informações de cabeçalho em
qualquer e-mail ou postagem em grupo de notícias ou, de qualquer forma, utilizar os Serviços
ou o Conteúdo para enviar informações alteradas, enganosas ou que identifiquem uma fonte errada.
        </div><br>


        <div class="text-body">
Tentar decifrar, decompilar, desmontar ou executar engenharia reversa em qualquer software usado
para fornecer os Serviços ou o Conteúdo.
        </div><br>


        <div class="text-body">
Interferir, ou tentar interferir, no acesso de qualquer usuário, host ou rede, incluindo, sem
limitação, o envio de vírus, sobrecarga, flooding, envio de spams ou de e-mails em massa para
os Serviços;
        </div><br>


        <div class="text-body">
Coletar ou armazenar qualquer informação pessoalmente identificável dos Serviços ou Apps de outros
usuários dos Serviços, sem permissão expressa.
        </div><br>


        <div class="text-body">
Personificar ou deturpar sua afiliação com qualquer pessoa ou entidade.
        </div><br>


        <div class="text-body">
Violar qualquer lei ou regulamentação aplicável.
        </div><br>


        <div class="text-body">
Incentivar ou possibilitar que qualquer outra pessoa faça algo listado acima.
        </div><br>

        <div class="text-body">
Embora não sejamos obrigados a monitorar o acesso ou o uso dos Serviços ou do Conteúdo ou a
revisar ou editar qualquer Conteúdo, temos o direito de fazer isso com o propósito de operar os
Serviços, para garantir o cumprimento destes Termos ou para cumprir a lei aplicável ou outros
requisitos legais. Reservamo-nos o direito, mas não somos obrigados, de remover ou desabilitar o
acesso a qualquer Conteúdo, a qualquer momento e sem aviso prévio, incluindo, mas não limitado a,
caso consideremos, a nosso critério, que seu Conteúdo de Usuário é objetável ou viola estes
Termos. Reservamo-nos o direito de encerrar sua conta e seu acesso ao uso dos Serviços, caso
determinemos, a nosso critério, que seu Conteúdo de Usuário é objetável ou viola estes Termos.
Temos o direito de investigar violações destes Termos ou condutas que afetem os Serviços. Também
poderemos consultar e cooperar com as autoridades legais para processar usuários que violarem a
lei.
        </div><br>

        <div class="text-title">
          POLÍTICA DE COPYRIGHT/DMCA
        </div><br>

        <div class="text-body">
A Tenho em Casa respeita a lei de copyright e espera que seus usuários façam o mesmo. Faz parte
da política da Tenho em Casa encerrar as contas, em circunstâncias apropriadas, de assinantes ou
detentores de contas que infringirem repetidamente ou pareçam estar infringindo repetidamente os
direitos de detentores de copyright.
        </div><br>

        <div class="text-title">
          LINKS PARA WEBSITES OU RECURSOS DE TERCEIROS
        </div><br>

        <div class="text-body">
Os Serviços e Apps podem conter links para websites ou recursos de terceiros. Fornecemos esses
links apenas por conveniência e não somos responsáveis pelo conteúdo, pelos produtos ou serviços
nos ou disponíveis a partir dos websites ou recursos ou links exibidos em tais sites. Você
reconhece ser o único responsável, assumindo todo o risco oriundo, por seu uso de qualquer
website ou recurso de terceiros.
        </div><br>


        <div class="text-title">
          ENCERRAMENTO
        </div><br>

        <div class="text-body">
Poderemos encerrar seu acesso e uso dos Serviços, a nosso critério, a qualquer momento e sem
notificação. Você poderá cancelar sua conta a qualquer momento, enviando um e-mail para
tenhoemcasa.receitas@gmail.com. Você poderá se comunicar conosco em português. Se você quiser
cancelar uma assinatura de um Serviço pago, confira a seção “Assinaturas Pagas” acima. Após o
encerramento, descontinuação ou cancelamento dos Serviços ou de sua conta, todas as provisões
destes Termos que, por natureza, devam ser mantidas serão mantidas, incluindo, sem limitação,
provisões de propriedade, isenção de garantias, limitações de responsabilidade e provisões de
resolução de disputas.
        </div><br>

        <div class="text-title">
          ISENÇÃO DE GARANTIAS
        </div><br>

        <div class="text-body">
Os Serviços e o Conteúdo são fornecidos “DA FORMA COMO SÃO”, sem garantia de qualquer natureza.
Sem limitar o supracitado, ISENTAMO-NOS EXPLICITAMENTE DE QUAISQUER GARANTIAS IMPLÍCITAS DE
COMERCIABILIDADE, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA, USO PACÍFICO E NÃO VIOLAÇÃO E QUAISQUER
GARANTIAS DECORRENTES DE NEGOCIAÇÃO OU USO COMERCIAL. Não garantimos que os Serviços atenderão às
suas necessidades ou estarão disponíveis de maneira ininterrupta, segura ou livre de erros. Não
garantimos nada que diga respeito à qualidade, precisão, atualização, veracidade, plenitude ou
confiabilidade de qualquer Conteúdo.
        </div><br>

        <div class="text-title">
          INDENIZAÇÃO
        </div><br>

        <div class="text-body">
Você indenizará e isentará a Tenho em Casa e seus oficiais, diretores, acionistas, empregados e
agentes por e de quaisquer reclamações, disputas, solicitações, obrigações, danos, perdas, custos
e despesas, incluindo, sem limitação, taxas legais e contábeis decorrentes de ou, de alguma
maneira, ligadas a (i) seu acesso ou uso dos Serviços ou do Conteúdo; (ii) seu Conteúdo de
Usuário; ou (iii) sua violação destes Termos.
        </div><br>

        <div class="text-title">
          LIMITAÇÃO DE RESPONSABILIDADE
        </div><br>

        <div class="text-body">
NEM A TENHO EM CASA, NEM QUALQUER OUTRA PARTE ENVOLVIDA NA CRIAÇÃO, PRODUÇÃO OU DISTRIBUIÇÃO DOS
SERVIÇOS OU DO CONTEÚDO SERÁ RESPONSABILIZADA POR VOCÊ POR QUALQUER DANO INCIDENTAL OU
CONSEQUENTE, INCLUSIVE PERDA DE LUCROS, PERDA DE DADOS OU PATRIMÔNIO DE MARCA, INTERRUPÇÃO DOS
SERVIÇOS, DANOS A COMPUTADORES OU FALHAS NO SISTEMA OU O CUSTO DE SERVIÇOS SUBSTITUTOS DECORRENTES
DE OU EM CONEXÃO COM OS TERMOS OU DO USO OU A INCAPACIDADE DE USAR OS SERVIÇOS OU O CONTEÚDO, SEJA
COM BASE EM GARANTIA, CONTRATO, DELITO (INCLUINDO NEGLIGÊNCIA), RESPONSABILIDADE DO PRODUTO OU
QUALQUER OUTRA TEORIA LEGAL E TENHA A TENHO EM CASA SIDO INFORMADA OU NÃO DA POSSIBILIDADE DE TAL
DANO, MESMO QUE UMA SOLUÇÃO LIMITADA IMPLEMENTADA TENHA FALHADO EM SEU PROPÓSITO ESSENCIAL.
ALGUMAS JURISDIÇÕES NÃO PERMITEM A EXCLUSÃO OU A LIMITAÇÃO DE RESPONSABILIDADE POR DANOS
CONSEQUENTES OU INCIDENTAIS, DE MODO QUE A LIMITAÇÃO ACIMA POSSA NÃO SE APLICAR A VOCÊ.
        </div><br>

        <div class="text-body">
EM NENHUM CASO, A RESPONSABILIDADE TOTAL DA TENHO EM CASA DECORRENTE DE OU EM CONEXÃO COM ESTES
TERMOS OU DO USO OU A INCAPACIDADE DE USAR OS SERVIÇOS OU O CONTEÚDO EXCEDERÁ AS QUANTIAS QUE VOCÊ
PAGOU À TENHO EM CASA PELO USO DOS SERVIÇOS OU DO CONTEÚDO OU DUZENTOS REAIS (R$200), CASO VOCÊ
NÃO TENHA OBRIGAÇÕES DE PAGAMENTO À TENHO EM CASA, SEGUNDO O CASO. AS LIMITAÇÕES DE DANOS
IMPLEMENTADAS ACIMA SÃO ELEMENTOS FUNDAMENTAIS DA BASE DAS NEGOCIAÇÕES ENTRE A TENHO EM CASA E
VOCÊ.
        </div><br>

        <div class="text-title">
          RESOLUÇÃO DE DISPUTAS
        </div><br>

        <div class="text-title">
          LEI VIGENTE
        </div><br>

        <div class="text-body">
Estes Termos e qualquer ação relacionada a eles serão regidos pelas leis do Brasil, sem considerar
conflitos de disposições legais. Para fins de determinação da legislação aplicável, você
reconhece e concorda que a Tenho em Casa é a proponente destes Termos e das transações comerciais
oriundas deste instrumento.
        </div><br>

        <div class="text-title">
          ARBITRAGEM
        </div><br>

        <div class="text-body">
Você e a Tenho em Casa estão de acordo que qualquer disputa, reclamação ou controvérsia decorrente
de ou ligada a estes Termos ou a quebra, o encerramento, a execução, a interpretação ou a
validação de tais ou o uso dos Serviços ou do Conteúdo (coletivamente, “Disputas”) serão
resolvidos por processo arbitral, exceto que cada parte detém o direito: (i) de levar uma ação
individual ao juizado de pequenas causas e (ii) de procurar medida cautelar ou outra em um
tribunal de jurisdição competente para impedir a infração real ou ameaçada, o desvio ou a violação
de copyrights, marcas registradas, segredos comerciais, patentes ou outros direitos de propriedade
intelectual de uma parte (a ação descrita na cláusula (ii) supracitada, uma “Ação de Proteção de
PI”). Sem limitar a sentença precedente, você também terá o direito de litigar qualquer outra
Disputa se enviar à Tenho em Casa uma notificação escrita de seu desejo por e-mail, para o
endereço tenhoemcasa.receitas@gmail.com, dentro de trinta (30) dias a partir da data em que você
concordou pela primeira vez com estes Termos (tal notificação, uma “Notificação de Não
Participação em Arbitragem”). Você poderá se comunicar conosco em português. Se você não enviar
uma Notificação de Não Participação em Arbitragem dentro do período de trinta (30) dias,
considerar-se-á que você, consciente e intencionalmente, renunciou ao seu direito de litigar
qualquer Disputa, exceto como o expressamente estabelecido nas cláusulas (i) e (ii) acima. A
jurisdição exclusiva e o foro
de qualquer Ação de Proteção de PI, ou, se você enviar à Tenho em Casa uma Notificação de Não
Participação em Arbitragem a tempo, serão os tribunais estaduais e federais localizados na comarca
do Brasil, e cada uma das partes do presente regulamento renuncia a qualquer objeção à jurisdição
e ao foro em tais tribunais. A não ser que você envie à Tenho em Casa uma Notificação de Não
Participação em Arbitragem a tempo, <strong>você reconhece e concorda com o fato de que você e a
Tenho em Casa estão renunciando ao direito a um julgamento por júri ou de participar como
reclamante ou membro de classe em qualquer ação de classe pretendida ou processo representativo.
</strong> Além disso, a não ser que você e a Tenho em Casa, de outra maneira, concordem por
escrito, o árbitro poderá não consolidar as reclamações de mais de uma pessoa e poderá, de outra
forma, não presidir qualquer forma de classe ou processo representativo. Se este parágrafo
específico for considerado inaplicável, a totalidade desta seção “Resolução de Disputas” será
considerada nula. Exceto conforme o fornecido na sentença precedente, esta seção “Resolução de
Disputas” continuará a valer mesmo após o encerramento destes Termos.
        </div><br>

        <div class="text-title">
          TERMOS GERAIS
        </div><br>

        <div class="text-body">
Estes Termos constituem o inteiro e exclusivo entendimento e a concordância entre a Tenho em
Casa e você a respeito dos Serviços e do Conteúdo e eles substituem e se sobrepõem a qualquer
e todo entendimento ou acordo prévio oral ou escrito entre a Tenho em Casa e você a respeito
dos Serviços e do Conteúdo. Se, por qualquer motivo, um tribunal de jurisdição competente
entender que alguma cláusula destes Termos é inválida ou inexequível (seja por um árbitro
indicado conforme os termos da seção “Arbitragem” acima ou por um tribunal de jurisdição
competente, mas apenas se você abdicar da arbitragem a tempo, enviando-nos uma Notificação de
Não Participação em Arbitragem de acordo com os termos estabelecidos acima), esta cláusula será
executada até a medida máxima permitida e as outras cláusulas destes Termos permanecerão vigentes
e em efeito.
        </div><br>

        <div class="text-body">
Você não pode atribuir ou transferir estes Termos por operação de lei ou outra forma sem o
consentimento prévio da Tenho em Casa por escrito. Qualquer tentativa sua de atribuir ou
transferir estes Termos sem tal consentimento será nulo e não terá efeito. A Tenho em Casa
poderá atribuir ou transferir estes Termos livremente e sem restrições. Sujeitos ao descrito
anteriormente, estes Termos se unirão e reverterão pelo benefício das partes, seus sucessores
e cessionários autorizados.
        </div><br>

        <div class="text-body">
Quaisquer notificações ou outras comunicações fornecidas pela Tenho em Casa sob estes Termos,
incluindo aquelas ligadas às modificações a estes Termos, serão enviadas por e-mail ou pelos
Serviços. Em relação a notificações enviadas por e-mail, a data de recebimento será considerada
a data em que tal notificação foi enviada. Para notificações enviadas pelos Serviços, a data de
acesso aos Serviços com tal notificação será considerada a data em que tal notificação foi enviada.
        </div><br>

        <div class="text-body">
A impossibilidade da Tenho em Casa de executar qualquer direito ou cláusula destes Termos não
será considerada uma renúncia a esses direitos. A renúncia a qualquer direito ou disposição só
será eficaz se feita por escrito e assinada por um representante devidamente autorizado da Tenho
em Casa. Exceto quando expressamente estabelecido nestes Termos, o exercício, por qualquer uma das
partes, de qualquer um de seus recursos sob estes Termos será feito sem prejuízo dos seus outros
recursos sob estes Termos ou de outra forma.
        </div><br>

        <div class="text-title">
          INFORMAÇÕES DE CONTATO
        </div><br>

        <div class="text-body">
Caso você tenha dúvidas sobre estes Termos ou os Serviços, entre em contato com a Tenho em Casa
pelo email: tenhoemcasa.receitas@gmail.com. Você poderá se comunicar conosco em português.

        </div><br>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import Logo from '../components/Logo.vue';

export default {
  name: 'TermsOfUse',
  components: {
    logo: Logo,
  },
};

</script>

<style scoped>

.text-title {
  text-align: center;
  font-weight: bold;
}

.text-body {
  text-align: justify;
}

.termsofuse-card {
  margin: 3em 1em 5em 1em;
  color: grey;
}

</style>
