<template>

  <q-modal no-backdrop-dismiss minimized v-model="isFeedbackOpened">
    <q-modal-layout>
      <div class="flex flex-center q-mt-sm q-mb-md">
        <p class="q-headline text-weight-bold text-secondary">Feedback</p>
      </div>
      <div class="text-weight-light text-center q-subheading q-mb-md">
        Gostou do nosso app?
      </div>
      <div class="row justify-around flex flex-center">
        <q-btn round icon=thumb_up :color="setColor('like')" size="xl"
               @click="kind='like'"/>
        <q-btn round icon=thumb_down :color="setColor('dislike')" size="xl"
               @click="kind='dislike'"/>
      </div><br>
      <div class="text-weight-light text-center q-subheading q-mb-sm q-mt-md">
        Algo mais?
      </div>
      <div class="flex flex-center q-mb-md">
      <q-field icon="feedback"  helper="* Campo opcional">
        <q-input v-model="suggestion" placeholder="Digite aqui..." :max-height="120"
        type="textarea"/>
      </q-field>
      </div><br>
      <div class="row justify-around">
        <q-btn
          rounded
          color="tertiary"
          @click="closeFeedbackModal"
          label="Agora não"
          class="q-my-xs"
        />
        <q-btn
          rounded
          :disabled="kind===''"
          color="primary"
          @click="sendFeedback"
          label="Enviar"
          class="q-my-xs"
        />
      </div>
    </q-modal-layout><br>
  </q-modal>

</template>

<script>
import HTTP from '../services/api/http-common.js';
import { mapState } from 'vuex';
import { Notify } from 'quasar';

export default {
  name: 'Feedback',
  data() {
    return {
      suggestion: '',
      kind: '',
    };
  },

  computed: {
    ...mapState({
      token: state => state.auth.token,
      isFeedbackOpened: state => state.recipes.isFeedbackOpened,
    }),
  },

  methods: {
    setColor(button) {
      if (button === this.kind) {
        return button === 'like' ? 'positive' : 'negative';
      }
      return 'grey';
    },
    sendFeedback() {
      const headers = { Authorization: this.token };

      HTTP.post('feedbacks', {
        feedback: {
          kind: this.kind,
          body: this.suggestion,
        },
      }, { headers })
        .then(() => {
          this.closeFeedbackModal();

          Notify.create({
            message: 'Obrigado por nos enviar o feedback',
            color: 'info',
            icon: 'fas fa-smile',
          });
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
    closeFeedbackModal() {
      this.$store.dispatch('toggleFeedback', { isFeedbackOpened: false });
    },
  },
};
</script>

<style scoped>

</style>
