<template>
    <div class="flex flex-center logo">
      <img src="~assets/logo.png">
    </div>
</template>

<script>

export default {
  name: 'Logo',
};

</script>

<style scoped>

.logo img {
  width: auto;
  height: auto;
  max-width: 10em;
  max-height: 10em;
}

</style>
