<template>
  <div class="row justify-center">
    <div class="col" align="center">
      <q-icon class="text-tertiary" name="fas fa-utensils" />
      {{ getServings() }} porções
    </div>
    <div class="col" align="center">
      <q-icon class="text-tertiary" name="far fa-clock" />
      {{ getPreparationTime() }} min
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecipeInfo',
  props: {
    // likes: Number,
    servings_amount: Number,
    preparation_time_in_minutes: Number,
  },
  methods: {
    getServings() {
      return this.servings_amount || '-';
    },
    getPreparationTime() {
      return this.preparation_time_in_minutes || '-';
    },
  },
};
</script>

<style lang="stylus" scoped>
i {
  font-size: 20px;
}
</style>
