<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    // This is the secondary color
    this.$q.addressbarColor.set('#1b9b62');
  },
};
</script>

<style>

a:hover {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

</style>
