<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
      >
        <q-btn
          flat
          dense
          round
          @click="goBack"
          aria-label="Return"
          :class="{ hide: !canGoBack() }"
        >
          <q-icon name="fas fa-angle-left" />
        </q-btn>

        <q-toolbar-title class="flex flex-center">
          <a class="" @click="goToHomePage">Tenho em Casa</a>
        </q-toolbar-title>

        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          style="visibility: hidden"
        >
          <q-icon name="menu" />
        </q-btn>
      </q-toolbar>

    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'ios' ? 'bg-grey-2' : null"
      side="right"
      overlay
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>
          Tenho em Casa
        </q-list-header>
        <!-- <q-item @click.native="null">
          <q-item-side icon="settings" />
          <q-item-main label="Settings" />
        </q-item> -->
        <q-item @click.native="logout">
          <q-item-side icon="logout" />
          <q-item-main label="Sair" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <div class="footer">
      <q-item-main @click.native="goToAboutPage"><a>Sobre</a></q-item-main><br>
      <q-item-main @click.native="displayContact"><a>Contato</a></q-item-main><br>
      <q-item-main @click.native="displayTermsOfUse"><a>Termos de Uso</a></q-item-main><br>
      <q-item-main @click.native="displayPrivacyPolicy"><a>Políticas de Privacidade</a>
      </q-item-main><br>
      <div style="display: inline-flex;">
        <q-item-main @click.native="openInstagram">
          <a>
            <q-icon name="fab fa-instagram" />
            <q-item-main label="Instagram" />
          </a>
        </q-item-main>
        <q-item-main>
          <a>
            <q-icon name="fab fa-facebook-square" @click.native="openFacebook"/>
            <q-item-main label="Facebook" />
          </a>
        </q-item-main>
      </div>
    </div>

  </q-layout>
</template>

<script>
import { openURL, Notify } from 'quasar';
import Home from '../pages/Home.vue';
import About from '../pages/About.vue';
import TermsOfUse from '../pages/TermsOfUse.vue';
import { mapState } from 'vuex';

export default {
  name: 'Welcome',
  components: {
    home: Home,
    about: About,
    termsOfUse: TermsOfUse,
  },
  data() {
    return {
      leftDrawerOpen: false,
    };
  },
  computed: {
    ...mapState({
      authenticated: state => state.auth.authenticated,
    }),
  },
  methods: {
    openURL,
    logout() {
      this.$router.push({ name: 'presentation' });
    },
    goToAboutPage() {
      this.$router.push({ name: 'about' });
    },
    goToHomePage() {
      this.$router.push({ name: 'search' });
    },
    displayContact() {
      Notify.create({
        message: 'tenhoemcasa.receitas@gmail.com',
        color: 'purple',
        icon: 'email',
      });
    },
    displayTermsOfUse() {
      this.$router.push({ name: 'termsOfUse' });
    },
    displayPrivacyPolicy() {
      this.$router.push({ name: 'privacyPolicy' });
    },
    canGoBack() {
      // FIXME
      // return (!document.referrer === '' && document.referrer.includes(window.location.hostname));
      return true;
    },
    openInstagram() {
      window.open('https://www.instagram.com/tenhoemcasa.receitas');
    },
    openFacebook() {
      window.open('https://www.facebook.com/tenho.em.casa.receitas/');
    },
    goBack() {
      window.history.go(-1);
      return false;
    },
  },
};
</script>

<style lang="stylus">
.q-toolbar-title {
  a {
    font-family: 'Leckerli One', cursive;
    font-size: 1.5em;
  }
}
.registration-links {
  color: #80b3ff;
}

.footer {
  background-color: #43A479;
  margin: 0;
  padding: 1.5em 0;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

</style>
