<template>

  <q-page-container class="flex flex-center" >
    <div class="login-card" @keyup.enter="login">
      <q-field
          icon="email"
          :error="invalidCredentials"
        >
        <q-input v-model="email"  lower-case float-label="Email" placeholder="eu@email.com"/>
      </q-field>
          <q-field
          icon="lock"
          :error="invalidCredentials"
        >
        <q-input v-model="password" float-label="Senha"
         type="password" />
      </q-field>
      <br><br>
      <div class="login-button column content-center">
        <q-btn rounded label="Entrar" color="primary" @click="login" />
      </div>
    </div>
  </q-page-container>

</template>

<style scoped>
.login-card {
  width: 18em;
  max-width: 90vw;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

</style>

<script>
import authHelper from '../../mixins/authHelper.js';

export default {
  mixins: [authHelper],
  data() {
    return {
      email: '',
      password: '',
    };
  },
};

</script>
