<template>

  <q-page>
    <div class="login-register">
      <q-tabs animated inverted color="primary" align="justify">
        <q-tab default name="login" slot="title" icon="exit_to_app" label="entrar"
          class="btn-tab-login-register"/>
        <q-tab name="register" slot="title" icon="person_add" label="cadastrar"
          class="btn-tab-login-register"/>
        <logo></logo>
        <q-tab-pane name="login"><login></login></q-tab-pane>
        <q-tab-pane name="register"><register></register></q-tab-pane>
      </q-tabs>
    </div>
  </q-page>

</template>

<script>

import Register from './Register.vue';
import Login from './Login.vue';
import Logo from '../Logo.vue';

export default {
  name: 'LoginRegister',
  components: {
    register: Register,
    login: Login,
    logo: Logo,
  },
};

</script>

<style lang="stylus" scoped>

.btn-tab-login-register {
  background-color: #F0F8FF;
}
</style>
