<template>

  <q-page-container class="flex flex-center" id="register-form" >
    <div class="register-card" @keyup.enter="register">
      <q-field
          icon="person"
          helper="Nome completo"
          :error="invalidCredentials"
        >
        <q-input v-model="name" float-label="Nome" />
      </q-field><br>
      <q-field
          icon="email"
          helper="Digite seu email"
          :error="invalidCredentials"
        >
        <q-input v-model="email" lower-case float-label="Email" />
      </q-field><br>
          <q-field
          icon="lock"
          helper="Escolha uma senha forte"
          :error="invalidCredentials"
        >
      <q-input v-model="password" float-label="Senha" type="password" />
      </q-field>
      <br><br>
      <div class="register-button column content-center">
        <q-btn rounded label="Cadastrar" color="primary" @click="register" />
      </div>
    </div>
  </q-page-container>

</template>

<style scoped>

.register-card {
  width: 18em;
  max-width: 90vw;
  margin: 0.5em;
  margin-bottom: 5em;
}

#register-form {
  padding-top: 0px !important; /* Remover !important depois */
}
</style>

<script>
import { Notify } from 'quasar';
import authHelper from '../../mixins/authHelper.js';

export default {
  mixins: [authHelper],
  data() {
    return {
      name: '',
      email: '',
      password: '',
      invalidCredentials: false,
    };
  },

  methods: {
    register() {
      this.$store.dispatch('register', {
        name: this.name,
        email: this.email,
        password: this.password,
      })
        .then(() => {
          this.invalidCredentials = false;
          Notify.create({
            message: 'Usuário criado com sucesso!',
            type: 'positive',
            position: 'top',
          });
          this.login();
        })
        .catch((err) => {
          this.invalidCredentials = true;
          Notify.create({
            message: 'Credenciais inválidas!',
            type: 'negative',
            position: 'top',
          });
          console.log(err);
          this.errors.add('wrong-credentials', 'Credenciais erradas');
        });
    },
  },
};

</script>
